// Media para celulares
@media screen and (max-width: 991px) {
    nav {
        div.container-fluid {
            a.navbar-brand{
                display: flex;
                font-size: 7vw;
                font-weight: 500;
                align-items: center;

                img {
                   pointer-events: none;
                   width: 10vw;
                   height: 10vw; 
                   margin-right: 1vw;
                }
            }
        }
        div.div-elements {
            justify-content: space-between;
            align-items: center;
            div {
                border-bottom: 1px solid rgb(170, 170, 170);
                a {
                    margin: auto;
                    font-size: 5vw;
                    font-weight: 400;
                    color: black;
                }
            }
        }
    } 
}

// Media para computadoras
@media screen and (min-width: 992px) {
    nav {
        div.container-fluid {
            a.navbar-brand{
                display: flex;
                align-items: center;
                font-size: 2.5vw;
                font-weight: 500;

                img {
                    margin-right: 0.5vw;
                    width: 3vw;
                    height: 3vw;
                    pointer-events: none;
                }
            }
        }
        div.div-elements {
            justify-content: space-between;
            align-items: center;
            div {
                a {
                    font-size: 1.7vw;
                    font-weight: 400;
                    color: black;
                }
            }
        }
    }   
}