<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="./assets/img/logo bus.png">Traveleate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="div-elements collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav reservar">
          <a class="nav-link" routerLink="/home">Reservar viaje</a>
        </div>
        <div class="navbar-nav nosotros">
          <a class="nav-link" routerLink="/nosotros">Acerca de nosotros</a>
        </div>
      </div>
    </div>
  </nav>