<div>
    <form [formGroup]="formReserva" class="formReserva">

        <div>
            <label>Nombre</label>
            <input type="text" formControlName="nombre">
        </div>

        <div>
            <label>Apellido</label>
            <input type="text" formControlName="apellido">
        </div>

        <div>
            <label>DNI (sin puntos)</label>
            <input type="text" formControlName="dni">
        </div>

        <div>        
            <label>¿Tenes mas de 18 años?</label>
            <input type="checkbox" formControlName="mayorEdad">
        </div>

        <button (click)="Reservar()">Reservar</button>
        <button (click)="Volver()">Volver</button>
    </form>
</div>