<app-nav></app-nav>
<div class="container-body">
    <form [formGroup]="formReserva" class="formReserva">

        <div>
            <label>Nombre</label>
            <input type="text" formControlName="nombre">
        </div>

        <div>
            <label>Apellido</label>
            <input type="text" formControlName="apellido">
        </div>

        <div>
            <label>DNI (sin puntos)</label>
            <input type="text" formControlName="dni">
        </div>

        <div class="form-div-check">        
            <input type="checkbox" formControlName="mayorEdad">
            <label>¿Tienes más de 12 años?</label>
        </div>
        @if (precioTotal != 0) {
            <div class="container-total">
                <label><span>Total:</span> ${{precioTotal}}</label>
            </div>
        }
    </form>
    <div class="container-btn">
        <button class="btn-volver" (click)="Volver()">Volver</button> 
        <button class="btn-reservar" (click)="Reservar()">Reservar</button>
    </div>
</div>
<app-footer></app-footer>