<div>
    <div class="colectivo">
        <div class="butaca" *ngFor="let butaca of butacas; let i = index">
            <button (click)="elegirButaca(i + 1)">{{ i + 1}}</button>
        </div>
    </div>
    @if (categoriaButaca) 
    {
        <div>
            <p>Tipo de butaca: {{ categoriaButaca.categoria }}</p>
            <p>Precio: ${{categoriaButaca.precio}}</p>
        </div>
    }
    <div>
        <button>Volver</button>
        <button (click)="enviarReserva()">Reservar</button>
    </div>
</div>