<app-nav></app-nav>

<div class="container-body">
    <h1>Traveleate</h1>
    <h2 class="container-body-title-2">Acerca de Nosotros</h2>
    <div class="camino"></div>
    <div class="container-info">
        <div class="div-introduccion">
            <p>
                Bienvenidos a <span>Traveleate</span>, su socio confiable en transporte de personas a nivel nacional en Argentina. 
                Con años de experiencia en el sector y un compromiso inquebrantable con la seguridad, 
                la puntualidad y el confort, nos hemos consolidado como líderes en el mercado del transporte de pasajeros.
            </p>
        </div>
        <div class="div-mision">
            <p>
                Nuestra misión es ofrecer servicios de transporte eficientes y de alta calidad que faciliten la movilidad de nuestros clientes a lo largo y ancho de Argentina. 
                Ya sea que necesite trasladarse por motivos laborales, personales o turísticos, 
                estamos aquí para asegurar que su viaje sea seguro, cómodo y puntual.
            </p>
        </div>
        
        <div class="div-lista">
            <div class="accordion">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseH3" aria-expanded="true" aria-controls="collapseH3">
                        <h3 class="div-lista-title">¿Por qué elegirnos?</h3>
                    </button>
                  </h2>
                  <div id="collapseH3" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="accordion">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Flota Moderna y Segura
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <p>
                                        Contamos con una flota de vehículos modernos y equipados con la última tecnología en seguridad y confort. 
                                        Todos nuestros vehículos pasan por rigurosos controles de mantenimiento y están habilitados según las normativas vigentes.
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Conductores Profesionales
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Nuestros conductores son seleccionados meticulosamente y reciben capacitación continua para garantizar un servicio profesional, amable y seguro. 
                                        Su bienestar y seguridad son nuestra prioridad.
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Cobertura Nacional
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Ofrecemos servicios de transporte en todo el territorio argentino, conectando ciudades, 
                                        pueblos y regiones con un servicio confiable y eficiente. Estamos donde nos necesite.
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Compromiso con el Cliente
                                  </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <p>
                                        Nos enorgullecemos de ofrecer una atención al cliente excepcional. 
                                        Nuestro equipo está disponible para asistirle en cada paso de su viaje, 
                                        desde la reserva hasta la llegada a su destino.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Sostenibilidad
                                  </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <p>
                                        Estamos comprometidos con prácticas sostenibles y responsables. 
                                        Nos esforzamos por minimizar nuestro impacto ambiental a través de iniciativas ecológicas y el uso eficiente de recursos.
                                    </p>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="div-cierre">
            <p>
                En <span>Traveleate</span>, no solo lo llevamos a su destino, 
                sino que hacemos que el viaje sea una experiencia placentera y sin preocupaciones. 
                Agradecemos la confianza que depositan en nosotros y estamos siempre listos para llevarlo adonde necesite.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>